.page-header
  .page-header-inner
    %h1.page-header-title= "#{@season.league.name}: Season #{@season.id}"

.outer-container
  - if @season.finalized_at
    %p This season has finished.

  .season-summary-standings
    = render "seasons/standings", season: @season
