{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    ["transform-object-rest-spread"],
    ["babel-plugin-transform-decorators-legacy"]
  ]
}
