.scoreboard
  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score
  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

.scoreboard-controls
  .arrow
  .scoreboard-control.scoreboard-rewind Rewind

.game-setup-overlay.player-selection-overlay.started
  %h1.player-selection-message
  .player-list-unselected-players

.game-setup-overlay.service-selection-overlay
  %h1 Who is serving?
  %p
    %button.home-player
    or
    %button.away-player

