.scoreboard
  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score
  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

  .scoreboard-rewind Rewind

.player-lists
  .player-list
    %h2 Coming up
    .player-list-active-players
  .player-list
    %h2 Available Players
    .player-list-inactive-players
