.scoreboard
  .scoreboard-home-player
    .scoreboard-home-player-name
    .scoreboard-home-player-score
  .scoreboard-away-player
    .scoreboard-away-player-name
    .scoreboard-away-player-score
.player-list
  %h2 Active Players
  .player-list-active-players
  %h2 Inactive Players
  .player-list-inactive-players
