.scoreboard
  .scoreboard-player-one
    .scoreboard-player-one-name Player 1
    .scoreboard-player-one-score 0
  .scoreboard-player-two
    .scoreboard-player-two-name Player 2
    .scoreboard-player-two-score 0
.player-list
  %h2 Active Players
  .player-list-active-players
  %h2 Inactive Players
  .player-list-inactive-players
