.scoreboard
  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score
  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

.scoreboard-controls
  .arrow
  %button.scoreboard-control.scoreboard-rewind Rewind
  %button.scoreboard-control.scoreboard-cancel-game Cancel Game

.scoreboard-finished-popup
  %h1 Finalize the game?!
  %button Yes, please!
