.season-standings {
  text-align: center;

  td {
    &:first-child, &:nth-child(2) {
      text-align: left;
    }
  }
}

.point-differential-positive {
  color: green;

  &:before {
    content: "+";
  }
}

.point-differential-negative {
  color: red;
}
