.player-activations {
  @include clearfix;
}

.active-players,
.inactive-players {
  width: 50%;
  float: left;

  li[data-id] {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
