.scoreboard-finished-match {
  @include radial-gradient(
    circle at 50% 50%,
    $green 50%,
    darken($green, 5) 80%,
    darken($green, 10)
  );
  width: 1920px;
  height: 1080px;
  position: relative;
}

.scoreboard-finished-match-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  text-align: center;
  color: #fff;
  font-size: 128px;
  text-shadow:
    0px 0px 1px #fff,
    0px 0px 2px #fff,
    0px 0px 8px #ccc;
}
