html,
body {
  &::-webkit-scrollbar { width: 0 !important }
}

.scoreboard {
  width: 1920px;
  height: 1080px;
  position: relative;
  box-shadow: 0 10px 20px rgba($dark-grey, 0.5);
  margin-bottom: 75vh;
  z-index: 1;
}
