.scoreboard-no-match {
  color: $off-white;
  background-color: $dark-grey;

  h1 {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
  }
}
