.scoreboard-ongoing-match {
  @include display(flex);
  @include flex-direction(row);
}

.ongoing-match-player {
  @include flex-grow(1);
  position: relative;

  .name {
  }

  .score {
  }

  .portrait {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
