$off-white: #FEFEFE;
$lightest-grey: #F9F9F9;
$light-grey: #DDDDDD;
$medium-grey: #555555;
$dark-grey: #29262D;

$color-porkchop-blue: #2277FF;
$color-porkchop-red: #FF3F59;

$red: $color-porkchop-red;
$blue: $color-porkchop-blue;
$blue-text: shade($blue, 15%);
$green: #1AAB6F;
$yellow: #ECC60A;
