.scoreboard-pre-match {
  opacity: 1;

  $color: shade($blue, 15%);
  @include radial-gradient(
    circle at 50% 50%,
    $color 40%,
    shade($color, 10%) 75%,
    shade($color, 35%)
  );
}

.pre-match-timer {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: $off-white;
  font-weight: bold;
  font-size: 128px;
  text-shadow: 0 0 15px rgba($dark-grey, 0.35);
  @include transform(translateX(-50%));
}

.pre-match-player-name {
  position: absolute;
  top: 0;
  padding: 20px 40px;
  font-size: 48px;
  font-weight: bold;
  color: $off-white;
  text-shadow: 0 0 15px rgba($dark-grey, 0.5);

  &.away { right: 0; }
  &.home { left: 0; }
}
