.match-controls
  .match-controls-home-player.porkbox-light
    .match-controls-home-player-name
    .match-controls-home-player-score

  .match-controls-away-player.porkbox-light
    .match-controls-away-player-name
    .match-controls-away-player-score

  .match-controls-additional-stuff.porkbox-dark
    %button.match-controls-toggle-service Toggle service
    %button.match-controls-rewind Rewind a point
    %button.match-controls-show-cancel-match Cancel match
    %button.match-controls-show-finalize-match Finalize match

  .match-controls-overlay
    .match-controls-overlay-inner
      .match-controls-overlay-text Are you sure?
      %button.match-controls-cancel-match Confirm cancellation
      %button.match-controls-finalize-match Confirm finalization
      .match-controls-overlay-text or
      %button.match-controls-overlay-cancel.active Don't do that
