.match-controls
  .match-controls-away-player.porkbox-light
    .match-controls-away-player-name
    .match-controls-away-player-score

  .match-controls-home-player.porkbox-light
    .match-controls-home-player-name
    .match-controls-home-player-score

  .match-controls-additional-stuff.porkbox-dark
    %button.match-controls-toggle-service Toggle service
    %button.match-controls-rewind Rewind a point
    %button.match-controls-cancel-match Cancel match
    %button.match-controls-finalize-match Finalize match
    %button.match-controls-matchmake Matchmake

  .player-activations
    .active-players.porkbox-light
      %h3 Active Players
      %ul.active-players-list

    .inactive-players.porkbox-dark
      %h3 Inactive Players
      %ul.inactive-players-list
