.match-controls
  .match-controls-home-player
    .match-controls-home-player-name
    .match-controls-home-player-score

  .match-controls-away-player
    .match-controls-away-player-name
    .match-controls-away-player-score

  .match-controls-additional-stuff
    %button.match-controls-rewind Rewind Game
    %button.match-controls-cancel-game Cancel Game
    %button.match-controls-finalize Finalize Game
