.scoreboard
  - flip = params.has_key?(:flip)
  .scoreboard-message-area
    .scoreboard-away-player-avatar{:class => flip ? 'scoreboard-left-avatar' : 'scoreboard-right-avatar'}
      .scoreboard-overlay.flames
    .scoreboard-home-player-avatar{:class => flip ? 'scoreboard-right-avatar' : 'scoreboard-left-avatar'}
      .scoreboard-overlay.flames

    .scoreboard-message
    .scoreboard-instructions

  .scoreboard-player.scoreboard-away-player{:class => flip ? 'scoreboard-left-player' : 'scoreboard-right-player'}
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

  .scoreboard-player.scoreboard-home-player{:class => flip ? 'scoreboard-right-player' : 'scoreboard-left-player'}
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score

  .scoreboard-league-match
    LEAGUE MATCH

  .scoreboard-warm-up
    .scoreboard-warm-up-matchup
      %span.scoreboard-warm-up-away-player-name
      at
      %span.scoreboard-warm-up-home-player-name
    %ul.scoreboard-warm-up-data
      %li.scoreboard-warm-up-data-spread
        Favourite:
        %span.scoreboard-warm-up-spread
    .scoreboard-warm-up-countdown

