.scoreboard
  .scoreboard-message-area
    .scoreboard-away-player-avatar
    .scoreboard-home-player-avatar

    .scoreboard-message
    .scoreboard-instructions

  .scoreboard-false-border
    .scoreboard-player.scoreboard-away-player
      .scoreboard-player-name.scoreboard-away-player-name
      .scoreboard-player-score.scoreboard-away-player-score

    .scoreboard-player.scoreboard-home-player
      .scoreboard-player-name.scoreboard-home-player-name
      .scoreboard-player-score.scoreboard-home-player-score

    .scoreboard-league-match
      LEAGUE MATCH
