.scoreboard
  .scoreboard-message-area
    .scoreboard-away-player-avatar
    .scoreboard-home-player-avatar

    .scoreboard-message

  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score
    .scoreboard-game-point-notice-wrap
      .scoreboard-game-point-notice Game Point

  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score
    .scoreboard-game-point-notice-wrap
      .scoreboard-game-point-notice Game Point
