.scoreboard
  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-inner
      .scoreboard-player-name.scoreboard-away-player-name
      .scoreboard-player-score.scoreboard-away-player-score
      .scoreboard-game-point-notice-wrap
        .scoreboard-game-point-notice Game Point
  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-inner
      .scoreboard-player-name.scoreboard-home-player-name
      .scoreboard-player-score.scoreboard-home-player-score
      .scoreboard-game-point-notice-wrap
        .scoreboard-game-point-notice Game Point
  .scoreboard-no-game-message
    .scoreboard-no-game-message-inner
      Go to
      %br
      http://10.0.0.11:2277/matches/new
      %br
      to start a new match!
