.scoreboard
  .scoreboard-message-area
    .scoreboard-away-player-avatar
      .scoreboard-overlay.flames
    .scoreboard-home-player-avatar
      .scoreboard-overlay.flames

    .scoreboard-message
    .scoreboard-instructions

  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score

  .scoreboard-league-match
    LEAGUE MATCH

  .scoreboard-warm-up
    .scoreboard-warm-up-matchup
      %span.scoreboard-warm-up-away-player-name
      at
      %span.scoreboard-warm-up-home-player-name
    %ul.scoreboard-warm-up-data
      %li.scoreboard-warm-up-data-spread
        Favourite:
        %span.scoreboard-warm-up-spread
    .scoreboard-warm-up-countdown

