.scoreboard
  .scoreboard-message-area
    .scoreboard-away-player-avatar
    .scoreboard-home-player-avatar

    .scoreboard-message
    .scoreboard-instructions

  .scoreboard-player.scoreboard-away-player
    .scoreboard-player-name.scoreboard-away-player-name
    .scoreboard-player-score.scoreboard-away-player-score

  .scoreboard-player.scoreboard-home-player
    .scoreboard-player-name.scoreboard-home-player-name
    .scoreboard-player-score.scoreboard-home-player-score

  .scoreboard-league-match
    LEAGUE MATCH

  .scoreboard-warm-up
    .scoreboard-warm-up-matchup
      %span.scoreboard-warm-up-away-player-name
      at
      %span.scoreboard-warm-up-home-player-name
    .scoreboard-warm-up-countdown

