.leaderboard-list {
  width: 100%;

  thead {
    @include phone {
      display: none;
    }
  }

  th {
    text-align: left;
  }
}

.leaderboard-list-player {

  td {
    padding: 5px 0;

    @include phone {
      display: block;

      &:empty {
        display: none;
      }

      &:before {
        display: inline-block;
        width: 100px;
        content: attr(data-th-label);
        font-weight: bold;
      }
    }
  }

  &:nth-child(even) td {
    background: #f0f0f0;
  }
}

.elo-change-positive {
  color: green;

  &:before {
    content: "+";
  }
}

.elo-change-negative {
  color: red;
}
