<div class="scoreboard">
  <div class="scoreboard-ongoing-match scoreboard-page">
    <div class="ongoing-match-players">
      <div class="ongoing-match-player home">
        <div class="portrait"></div>
        <div class="name"></div>
        <div class="score"></div>
      </div>

      <div class="ongoing-match-player away">
        <div class="portrait"></div>
        <div class="name"></div>
        <div class="score"></div>
      </div>
    </div>

    <div class="ongoing-match-versus">vs</div>
  </div>

  <div class="scoreboard-pre-match scoreboard-page">
    <div class="pre-match-timer"></div>
    <div class="pre-match-player-name home"></div>
    <div class="pre-match-player-name away"></div>
  </div>

  <div class="scoreboard-post-match scoreboard-page">
    <h1>Post match.</h1>
  </div>

  <div class="scoreboard-no-match scoreboard-page">
    <h1>No match.</h1>
  </div>
</div>
