<div class="scoreboard">
  <div class="scoreboard-pre-match scoreboard-page">
    <h1>Pre match.</h1>
  </div>

  <div class="scoreboard-ongoing-match scoreboard-page active">
    <h1>Ongoing match.</h1>
  </div>

  <div class="scoreboard-post-match scoreboard-page">
    <h1>Post match.</h1>
  </div>

  <div class="scoreboard-no-match scoreboard-page">
    <h1>No match.</h1>
  </div>
</div>
