$palette: (
  grey:   (#111111 #313131 null    #EEEEEE #FFFFFF),
  purple: (null    null    #361857 null    null   ),
  teal:   (null    #196B68 null    null    null   ),
  blue:   (null    #151C1E null    null    null   ),
  green:  (null    #4A6F42 #509841 null    null   ),
  pink:   (null    null    null    #F6258C null   )
);

@function palette($colour) {
  @return nth(map-get($palette, nth($colour, 1)), nth($colour, 2));
}
