- if @player.profile_picture?
  = image_tag @player.profile_picture.url, class: "player-summary-avatar"
%h1= @player.name

= cache [@player.id, @player.matches.maximum(:finalized_at)] do
  = render "players/stats", player: @player
