.player-summary.porkbox-light
  %h1= @player.name
  %h3
    Record:
    = " #{@stats.record.join("-")}"

.player-match-history.porkbox-light
  %h1 Match History
  = render "matches/list", matches: @player.matches.finalized.order(finalized_at: :desc)
