= simple_form_for @match do |f|
  %h4 The home player is the one closest to the office entrance.
  = f.association :home_player, collection: @players
  %br
  = f.association :away_player, collection: @players
  %br
  = f.submit
