.players-listing {
}

.list-player {
  display: flex;
  align-items: flex-start;
  margin: 2em 0;

  + .list-player {
    border-top: 1px solid $dark-grey;
    padding-top: 2em;
  }
}

.list-player-avatar {
  margin: 0 1em;

  width: 100px;
  height: auto;
}

.list-player-details {
  flex: 1;

  color: $dark-grey;

  .name {
    font-size: 150%;
  }
}
