.player-summary {
  position: relative;
  @include clearfix;
}

.player-edit-link {
  position: absolute;
  top: 1em;
  right: 1em;
}

.player-stats {
  width: 100%;

  thead {
    @include mobile {
      display: none;
    }
  }

  th,
  td {
    padding: 0 10px;

    @include mobile {
      display: block;

      &:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.player-win-percentages {
}

.player-win-percentage-list {
  font-size: modular-scale(2);
  @include clearfix;

  dt, dd {
    float: left;
    margin: 0;
    text-align: center;
  }

  dt {
    width: 80%;
  }

  dd {
    width: 20%;
  }
}

.player-match-history {
}

.player-summary-avatar {
  height: 100px;

  @include desktop {
    float: left;
    margin-right: 1em;
  }
}

.player-elo-chart {
  float: left;
  width: 100%;
}
