.player-summary {
  @include media($desktop) {
    @include span-columns(12);
    @include omega();
  }

  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}

.player-elo-chart {
  width: 50%;
  @include media($mobile) {
    width: 100%;
  }
}

.player-win-percentages {
  @include media($desktop) {
    @include span-columns(6);
  }

  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}

.player-win-percentage-list {
  font-size: modular-scale(2);

  dt, dd {
    float: left;
    margin: 0;
    text-align: center;
  }

  dt {
    width: 80%;
  }

  dd {
    width: 20%;
  }
}

.player-match-history {
  @include media($desktop) {
    @include span-columns(6);
    @include omega();
  }

  @include media($mobile) {
    @include span-columns(4);
    @include omega();
  }
}

.player-summary-avatar {
  height: 200px;

  @include media($desktop) {
    float: right;
    height: 360px;
    width: auto;
  }
}
