* { box-sizing: border-box; }

body {
  margin: 0;
}

select {
  color: darken($dark-grey, 10);
}

a {
  &:link,
  &:visited {
    color: $blue;
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: lighten($blue, 10);
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix;
}
