.site-flash-wrap {
  color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 1.2rem;

  &.notice {
    @include linear-gradient(to right, $blue, $green);
  }

  &.alert {
    @include linear-gradient(to right, $blue, $red);
  }

  &.error {
    @include linear-gradient(to right, $yellow, $red);
  }
}

.site-flash {
  @include margin(0 auto);
  @include padding(0.5rem 0);
  max-width: 500px;
  text-align: center;
}
