.main-footer {
  @include span-columns(12);
  @include omega();
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      color: $off-white;
    }
  }
}
