.site-footer {
  @include linear-gradient(75deg, $blue, $red);
  color: $off-white;

  a {
    color: $off-white;
    font-weight: bold;
    border-bottom: 2px solid $off-white;

    &:hover {
      text-decoration: none;
    }
  }
}

.site-footer-inner {
  @include clearfix;
  max-width: $header-width;
  margin: 0 auto;
  padding: 2rem $header-outer-padding;

  @include mobile {
    padding: 1rem $header-outer-padding;
  }
}

.site-footer-about {
  float: left;
  width: 75%;
  padding-right: 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.site-secondary-navigation {
  float: left;
  width: 25%;
  list-style-type: none;
  padding-left: 1rem;
  margin-top: 1rem;
}

.site-footer-about,
.site-secondary-navigation {
  @include mobile {
    width: auto;
    float: none;
    padding: 0;
  }
}
