.main-footer-information {
  font-size: modular-scale(-1);
  color: lighten($dark-grey, 25);

  a {
    color: lighten($dark-grey, 40);
    text-decoration: underline;
  }

  h3 {
    color: lighten($dark-grey, 45);
    font-size: modular-scale(0);
    text-transform: uppercase;
    font-weight: $font-weight-medium;
    letter-spacing: 0.05em;
  }

  p {
    margin-bottom: 0;
  }
}
