.main-header {
  @include span-columns(12);
  @include omega();
  line-height: 2.5;
  font-size: modular-scale(1);

  a {
    &:link,
    &:visited {
      color: $off-white;
      text-decoration: none;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.main-title {
  @include span-columns(4 of 12);
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;

  @include media($mobile) {
    font-size: modular-scale(0);
  }

  a {
    &:link,
    &:visited {
      display: inline-block;
      line-height: 1;
      border: 2px solid #FFF;
      border-radius: 2px;
      text-decoration: none;
    }

    &:hover,
    &:active {
    }
  }

  span {
    display: inline-block;
    padding: 0.2em 0.2em 0.15em 0.2em;

    &:first-child {
      color: $off-white;
      font-weight: 300;
    }

    &:last-child {
      font-weight: bold;
      background-color: $off-white;
      color: $dark-grey;
    }
  }
}

.header-navigation {
  @include span-columns(8 of 12);
  @include omega();
  text-align: right;
  position: relative;
  font-size: modular-scale(1);

  @include media($mobile) {
    font-size: modular-scale(0);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: modular-scale(-2);
  }

  a {
    @include media($mobile) {
      &:not(.button) {
        display: none;
      }

      &.button {
        font-size: modular-scale(0);
      }
    }
  }
}
