$header-height: 48px;
$header-padding: 20px;

.main-header-wrap {
  @include padding(0 1rem);
  @include linear-gradient(90deg, $color-porkchop-red 0%, $color-porkchop-red 50%, $color-porkchop-blue 51%, $color-porkchop-blue 100%);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.main-header {
  @include clearfix;
  @include margin(0 auto);
  max-width: 1024px - 2 * $header-padding;
  background-color: $color-porkchop-blue;

  .site-title {
    float: left;
    line-height: $header-height;
    font-size: 24px;
    background-color: $color-porkchop-red;

    a {
      font-weight: bold;
      color: #fff;

      span {
        font-size: 16px;
        font-weight: 400;
        // Hack so it doesn't affect the height of the .site-title element.
        line-height: 0;
      }
    }
  }
}

.main-header-paddle {
  float: left;
  height: $header-height;
}

.main-header-menu-button {
  $button-width: 28px;
  $button-height: 24px;
  $bar-height: 4px;
  float: right;
  @include size($button-width $button-height);
  @include margin((($header-height - $button-height) / 2) 0);
  $border: $bar-height solid white;
  border-top: $border;
  border-bottom: $border;
  position: relative;
  cursor: pointer;
  @include transition(125ms);

  &:before,
  &:after {
    content: '';
    display: block;
    height: $bar-height;
    background-color: white;
    top: ($button-height - 3 * $bar-height) / 2;
    right: 0;
    left: 0;
    position: absolute;
    @include transition(125ms);
  }

  &.active {
    border-color: transparent;

    &:before {
      @include transform(rotate(-45deg));
    }

    &:after {
      @include transform(rotate(45deg));
    }
  }
}
