.header-controls-wrap {
  display: none;
  @include padding(1rem);
  background-color: $green;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;

  .controls-open & {
    display: block;
  }

  .requires-write-access {
    display: none;

    .has-write-access & {
      display: block;
    }
  }

  .has-write-access & .hide-for-write-access {
    display: none;
  }
}

.header-controls {
  @include margin(0 auto);
  max-width: 900px;
  color: white;
}

.site-navigation {
  @include padding(0);
  @include margin(0);
  list-style-type: none;

  li {
    font-size: 14px;
    @include padding(0.25rem 0);
  }

  a {
    display: block;
    color: white;
    font-weight: $font-weight-bold;
  }
}
