$header-height: 48px;
$header-padding: 20px;
$color-porkchop-blue: #24306F;
$color-porkchop-red: #CD3117;

.main-header-wrap {
  @include padding(0 1rem);
  @include linear-gradient(90deg, $color-porkchop-red 0%, $color-porkchop-red 50%, $color-porkchop-blue 51%, $color-porkchop-blue 100%);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.main-header {
  @include clearfix;
  @include margin(0 auto);
  max-width: 1024px - 2 * $header-padding;
  background-color: $color-porkchop-blue;

  .site-title {
    float: left;
    line-height: $header-height;
    font-size: 24px;
    background-color: $color-porkchop-red;

    a {
      font-weight: bold;
      color: #fff;

      span {
        font-size: 16px;
        font-weight: 400;
        // Hack so it doesn't affect the height of the .site-title element.
        line-height: 0;
      }
    }
  }
}

.main-header-paddle {
  float: left;
  height: $header-height;
}

.secondary-navigation {
  background-color: darken($off-white, 3);
  text-align: right;

  a {
    color: $dark-grey;
  }
}
