.homepage-recent-matches,
.homepage-leaderboard-list {
  h2 {
    margin-bottom: 15px;
  }
}

.homepage-recent-matches {
}

.homepage-leaderboard-list {
}

.homepage-chart {
  .elo-chart {
    width: 100%;
  }

  .elo-legend {
    list-style: none;

    @include desktop {
      @include columns(4);
    }

    @include mobile {
      @include columns(2);
    }

    .swatch {
      display: inline-block;
      height: 18px;
      width: 18px;
      margin: 0 12px 6px -12px;
      vertical-align: middle;
    }
  }
}
