$header-width: 1000px;
$header-outer-padding: 1rem;

$main-area-width: 800px;
$main-area-outer-padding: 1rem;

body.layout-good {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.site-content {
  @include flex-grow(1);
}

.outer-container {
  margin: 0 auto;
  max-width: $main-area-width;
}
