.porkbox-light,
.porkbox-dark {
  padding: modular-scale(0);
}

.porkbox-light {
  background-color: $off-white;
  border-bottom: 1px solid $dark-grey;
  color: darken($dark-grey, 10);
}

.porkbox-dark {
  background-color: darken($dark-grey, 10);
  border-bottom: 1px solid $off-white;
  color: $off-white;
}

