.porkbox-light,
.porkbox-dark {
  padding: modular-scale(-1);
  margin-bottom: modular-scale(-1);

  #{$all-buttons} {
    font-size: 2rem;
    color: $lightest-grey;
    font-weight: 600;

    &[disabled] {
      color: darken($dark-blue, 5);
    }
  }
}

.porkbox-light {
  background-color: $lightest-grey;
  border-bottom: 6px solid darken($lightest-grey, 5);
  color: darken($dark-blue, 10);
}

.porkbox-dark {
  background-color: darken($dark-blue, 10);
  border-bottom: 6px solid darken($dark-blue, 5);
  color: $lightest-grey;
}

