.porkbox-light,
.porkbox-dark {
  padding: 1rem;

  button {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    color: $lightest-grey;
    border: none;
    font-weight: 600;
    display: block;
    border-radius: 0.125em;

    &[disabled] {
      color: darken($dark-blue, 5);
    }
  }
}

.porkbox-light {
  background-color: $lightest-grey;
  border-bottom: 6px solid darken($lightest-grey, 5);
  color: darken($dark-blue, 10);
}

.porkbox-dark {
  background-color: darken($dark-blue, 10);
  border-bottom: 6px solid darken($dark-blue, 5);
  color: $lightest-grey;
}

