.scoreboard {
  height: 100vh;
}

.scoreboard-player {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: $lightest-grey;
  color: $dark-blue;

  &.has-service {
    background-color: $blue;
    color: $lightest-grey;
  }
}

.scoreboard-player-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 5rem;
  padding-left: 0.25em;
  padding-bottom: 0.15em;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.scoreboard-player-score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25rem;
  margin: -0.12em 0.1em;
  text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.scoreboard-controls {
  background-color: $dark-blue;
  font-size: 1.25rem;
  padding: 0.5em;
  text-align: center;
}

.scoreboard-control {
  color: $lightest-grey;
  background-color: $dark-blue;
  border: 2px solid $lightest-grey;
  font-weight: 600;
  display: inline-block;
  border-radius: 0.125em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  transition: transform 75ms ease-in-out;

  &:hover { transform: scale(1.1); }
}

.player-list-inactive-players {
  font-size: 1.5rem;
  padding: 1em 1em 0.75em 1em;
}

.player-list-player {
  cursor: pointer;
  display: inline-block;
  color: $lightest-grey;
  background-color: $dark-blue;
  border-radius: 0.25em;
  border: 3px solid $lightest-grey;
  padding: 0.25em 0.75em;
  margin: 0 0.25em 0.25em 0;
  transition: transform 75ms ease-in-out;

  &:hover { transform: scale(1.5); }
}
