$site-header-height: 44px;

.site-header-wrap {
  @include linear-gradient(to right, $blue, $red);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  z-index: $z-index-header;
}

.site-header {
  @include display(flex);
  height: $site-header-height;
  padding: 0 1rem;
  margin-bottom: 3px;
  background-color: $off-white;
}

.site-header-paddle {
  width: auto;
  height: $site-header-height;
  margin-right: 1rem;
}

.site-header-title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: $site-header-height;

  span {
    font-size: 0.9rem;
  }

  a {
    color: $blue-text;

    &:hover {
      text-decoration: none;
      border-bottom: 2px solid $red;
    }
  }
}

.site-header-current-match {
  @include flex-grow(1);
  text-align: center;
  line-height: $site-header-height;
  color: $medium-grey;
}

.site-header-menu-button {
}
