$sans-serif: 'Raleway', sans-serif;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 800;

body {
  font-family: $sans-serif;
  font-weight: $font-weight-medium;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: $sans-serif;
  font-weight: $font-weight-light;
  margin: 0;
  line-height: 1.2;
}

h1 { font-size: modular-scale(3); }
h2 { font-size: modular-scale(2); }
h3 { font-size: modular-scale(1); }
h4 { font-size: modular-scale(0); }
