:root {
  --site-width-max: 500px;
  --site-padding: 0.75rem;

  --color-black: #333333;
  --color-blue: #7711EE;
  --color-red: #FF5577;
  --color-white: #FFFFFF;

  --color-text-default: var(--color-black);
}
