.scoreboard {
  position: fixed;
  height: 100%;
  width: 100%;
}

.scoreboard-player {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: $lightest-grey;
  color: $dark-blue;

  &.has-service {
    background-color: $blue;
    color: $lightest-grey;
  }
}

.scoreboard-player-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 5rem;
  padding-left: 0.75em;
  padding-bottom: 0.5em;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.scoreboard-player-score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25rem;
  margin: -0.12em 0.1em;
  text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.1);
}
