.scoreboard {
  position: fixed;
  height: 100%;
  width: 100%;
}

.scoreboard-player {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: $lightest-grey;
  color: $dark-blue;
  background-size: 60%;
  background-position: 0% 100%;
  background-repeat: no-repeat;

  &.has-service {
    background-color: $blue;
    color: $lightest-grey;
  }
}

@mixin shadow-hack($color) {
  text-shadow: 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color, 0 0 50px $color;
}

.scoreboard-player-name {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: modular-scale(3);
  padding-left: 0.75em;
  padding-bottom: 0.5em;
  @include shadow-hack($lightest-grey);

  .has-service & {
    @include shadow-hack($blue)
  }
}

.scoreboard-player-score {
  position: absolute;
  top: 0;
  right: 0;
  font-size: modular-scale(7);
  margin: -0.12em 0.1em;
  text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.scoreboard-no-game-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  color: $lightest-grey;
  font-size: modular-scale(3);
  text-align: center;
  display: none;

  &.active {
    display: block;
  }
}

.scoreboard-no-game-message-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  @include transform(translate(0%, -50%));
}
