$bottom-bar-height: 120px;

.scoreboard {
  position: fixed;
  height: 100%;
  width: 100%;
}

.scoreboard-player {
  position: absolute;
  width: 50%;
  height: $bottom-bar-height;
  bottom: 0;
  color: $dark-grey;
  background-color: $off-white;

  &.has-service {
    color: $off-white;
    background-color: $blue;
  }
}

.scoreboard-away-player { left:  0; }
.scoreboard-home-player { right: 0; }

.scoreboard-player-name {
  font-size: modular-scale(5);
  line-height: $bottom-bar-height;
  padding: 0 modular-scale(2);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);

  .scoreboard-home-player & {
    text-align: left;
  }

  .scoreboard-away-player & {
    text-align: right;
  }
}

.scoreboard-player-score {
  position: absolute;
  bottom: 0;
  font-size: modular-scale(10);
  line-height: 1;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 0 modular-scale(2);
  text-align: center;
  min-width: 375px;
  background-color: $off-white;

  .has-service & {
    background-color: $blue;
  }

  .scoreboard-home-player & {
    right: 0;
    border-radius: modular-scale(2) 0 0 0;
  }

  .scoreboard-away-player & {
    left: 0;
    border-radius: 0 modular-scale(2) 0 0;
  }
}

.scoreboard-message-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: $bottom-bar-height;
  left: 0;
  background-color: darken($blue, 15);

  &.league-match {
    background-color: darken($green, 10);
  }
}

.scoreboard-message {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  font-size: modular-scale(7);
  width: 100%;
  max-height: 100%;
  padding: 0 modular-scale(7);
  overflow: hidden;
  text-align: center;
  line-height: 1.2;
  color: $off-white;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  50%  { opacity: 0.0; }
  to   { opacity: 1.0; }
}

.scoreboard-league-match {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  color: white;
  font-size: modular-scale(5);
}

.scoreboard-instructions {
  position: absolute;
  bottom: 16px;
  font-size: modular-scale(3);
  width: 100%;
  text-align: center;
  line-height: 1.2;
  color: $yellow;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.25);

  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-duration: 1s;
}

.scoreboard-home-player-avatar,
.scoreboard-away-player-avatar {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-repeat: none;
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  opacity: 1.0;
  @include transition(opacity 200ms ease-out);

  .message-present & {
    opacity: 0.25;
  }
}

.scoreboard-home-player-avatar { right: 0; }
.scoreboard-away-player-avatar { left: 0;  }

.scoreboard-warm-up {
  @include padding(30px);
  opacity: 0;
  position: absolute;
  background-color: $blue;
  width: 100%;
  height: 100%;
  @include transition(opacity 100ms ease-in-out);

  &.active {
    opacity: 1;
  }
}

.scoreboard-warm-up-matchup {
  color: #fff;
  font-size: 60px;
  border-bottom: 8px solid #fff;
}

.scoreboard-warm-up-countdown {
  position: absolute;
  right: 30px;
  bottom: 8px;
  color: #fff;
  font-size: 64px;
}

.scoreboard-warm-up-data {
  font-size: 75px;
  color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    @include margin(0.5em 0);
  }
}
