$off-white: #FEFEFE;
$lightest-grey: #F9F9F9;
$light-grey: #DDDDDD;
$medium-grey: #555555;
$dark-grey: #29262D;

$color-porkchop-blue: #24306F;
$color-porkchop-red: #CD3117;

$red: $color-porkchop-red;
$mint: #93f5c7;
$blue: $color-porkchop-blue;
$dark-blue: #152756;
$green: #286F31;
$yellow: #F7CE00;
