.season-standings {
  margin-top: 1rem;
  text-align: center;

  td {
    &:first-child, &:nth-child(2) {
      text-align: left;
    }
  }
}

.point-differential-positive {
  color: shade($green, 20%);

  &:before {
    content: "+";
  }
}

.point-differential-negative {
  color: $red;
}
