%footer.site-footer
  .site-footer-inner
    .site-footer-about
      %h3 About PorkChop Club
      %p
        PorkChop Club began as a pure JavaScript scoreboard for helping us keep
        track of service in our table tennis matches at <a rel="nofollow"
        href="https://stembolt.com">Stembolt</a>. Named for the <a
        href="http://en.wikipedia.org/wiki/Table_tennis#Chop">chop</a> shot and
        its use of <a href="https://github.com/baconjs/bacon.js/">Bacon.js</a>,
        it quickly evolved into a full fledged Rails application that tracks our
        game records, and Elo ratings.

    %nav.site-secondary-navigation
      %li= link_to "Players", players_path
      %li= link_to "Match History", matches_path
