%footer.main-footer.porkbox-dark
  .main-footer-information
    %h3 About PorkChop Club
    %p
      PorkChop Club began as a pure JavaScript scoreboard for helping us keep track
      of service in our table tennis matches at <a href="http://freerunningtech.com">FreeRunning Technologies</a>.
      Named for the <a href="http://en.wikipedia.org/wiki/Table_tennis#Chop">chop</a>
      shot and its use of <a href="https://github.com/baconjs/bacon.js/">Bacon.js</a>,
      it quickly evolved into a full fledged Rails application that tracks our
      game records, Elo ratings, and achievements.
