%head
  %meta(name="viewport" content="width=device-width, user-scalable=no")

  %title Porkchop

  = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300italic,300'

  = javascript_include_tag 'application'

  = csrf_meta_tags
